
#info {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  li {
    margin: 10px;
    border: 1px solid var(--border);
    .title,
    .content {
      padding: var(--roderuda-padding, 10px);
    }
    .title {
      position: relative;
      padding-bottom: 0;
      color: var(--accent);
      .icon-copy {
        position: absolute;
        right: 10px;
        top: 14px;
        color: var(--primary);
        cursor: pointer;
        transition: color var(--roderuda-anim-duration, 0.3s);
        &:active {
          color: var(--accent);
        }
      }
    }
    .content {
      margin: 0;
      user-select: text;
      color: var(--foreground);
      font-size: var(--roderuda-font-size-s, 12px);
      word-break: break-all;
      table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
          border: 1px solid var(--border);
          padding: 10px;
        }
      }
      * {
        user-select: text;
      }
      a {
        color: var(--link-color);
      }
    }
    .device-key,
    .system-key {
      width: 100px;
    }
  }
}

.safe-area #info {
  padding-bottom: calc(10px + env(safe-area-inset-bottom));
}
