
#snippets {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: var(--roderuda-padding, 10px);
  .section {
    margin-bottom: 10px;
    border: 1px solid var(--border);
    overflow: hidden;
    cursor: pointer;
    &:active {
      .name {
        background: var(--highlight);
        color: var(--select-foreground);
      }
    }
    .name {
      padding: var(--roderuda-padding, 10px);
      line-height: 18px;
      color: var(--primary);
      background: var(--darker-background);
      transition: background-color var(--roderuda-anim-duration, 0.3s);
      .btn {
        margin-left: 10px;
        float: right;
        text-align: center;
        width: 18px;
        height: 18px;
        font-size: var(--roderuda-font-size-s, 12px);
      }
    }
    .description {
      font-size: var(--roderuda-font-size-s, 12px);
      color: var(--foreground);
      padding: var(--roderuda-padding, 10px);
      transition: background-color var(--roderuda-anim-duration, 0.3s);
    }
  }
}

.safe-area #snippets {
  padding-bottom: calc(10px + env(safe-area-inset-bottom));
}
