
*,*::before,*::after{box-sizing:border-box;}
html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body{margin:0;font-family:var(--luna-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif);background:var(--luna-color-bg-base,#fff);color:var(--luna-color-text,rgba(0,0,0,.88));}
button,input,select,textarea{font:inherit;}



/* design system */
:root {
  color-scheme: light;
}

.theme-dark {
  color-scheme: dark;
}

:root {
  --luna-color-primary: #1a73e8;
  --luna-color-success: #52c41a;
  --luna-color-warning: #faad14;
  --luna-color-error: #ff4d4f;
  --luna-color-info: #1677ff;
  --luna-color-link: #1677ff;
  --luna-color-text-base: #000;
  --luna-color-bg-base: #fff;
  --luna-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';
  --luna-font-family-code: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --luna-font-size: 14;
  --luna-line-width: 1;
  --luna-line-type: solid;
  --luna-motion-unit: 0.1;
  --luna-motion-base: 0;
  --luna-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --luna-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --luna-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --luna-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --luna-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --luna-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --luna-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --luna-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --luna-border-radius: 6;
  --luna-size-unit: 4;
  --luna-size-step: 4;
  --luna-size-popup-arrow: 16;
  --luna-control-height: 32;
  --luna-z-index-base: 0;
  --luna-z-index-popup-base: 1000;
  --luna-opacity-image: 1;
  --luna-wireframe: false;
  --luna-motion: true;
  --luna-blue1: #e6f4ff;
  --luna-blue2: #bae0ff;
  --luna-blue3: #91caff;
  --luna-blue4: #69b1ff;
  --luna-blue5: #4096ff;
  --luna-blue6: #1677ff;
  --luna-blue7: #0958d9;
  --luna-blue8: #003eb3;
  --luna-blue9: #002c8c;
  --luna-blue10: #001d66;
  --luna-purple1: #f9f0ff;
  --luna-purple2: #efdbff;
  --luna-purple3: #d3adf7;
  --luna-purple4: #b37feb;
  --luna-purple5: #9254de;
  --luna-purple6: #722ed1;
  --luna-purple7: #531dab;
  --luna-purple8: #391085;
  --luna-purple9: #22075e;
  --luna-purple10: #120338;
  --luna-cyan1: #e6fffb;
  --luna-cyan2: #b5f5ec;
  --luna-cyan3: #87e8de;
  --luna-cyan4: #5cdbd3;
  --luna-cyan5: #36cfc9;
  --luna-cyan6: #13c2c2;
  --luna-cyan7: #08979c;
  --luna-cyan8: #006d75;
  --luna-cyan9: #00474f;
  --luna-cyan10: #002329;
  --luna-green1: #f6ffed;
  --luna-green2: #d9f7be;
  --luna-green3: #b7eb8f;
  --luna-green4: #95de64;
  --luna-green5: #73d13d;
  --luna-green6: #52c41a;
  --luna-green7: #389e0d;
  --luna-green8: #237804;
  --luna-green9: #135200;
  --luna-green10: #092b00;
  --luna-magenta1: #fff0f6;
  --luna-magenta2: #ffd6e7;
  --luna-magenta3: #ffadd2;
  --luna-magenta4: #ff85c0;
  --luna-magenta5: #f759ab;
  --luna-magenta6: #eb2f96;
  --luna-magenta7: #c41d7f;
  --luna-magenta8: #9e1068;
  --luna-magenta9: #780650;
  --luna-magenta10: #520339;
  --luna-pink1: #fff0f6;
  --luna-pink2: #ffd6e7;
  --luna-pink3: #ffadd2;
  --luna-pink4: #ff85c0;
  --luna-pink5: #f759ab;
  --luna-pink6: #eb2f96;
  --luna-pink7: #c41d7f;
  --luna-pink8: #9e1068;
  --luna-pink9: #780650;
  --luna-pink10: #520339;
  --luna-red1: #fff1f0;
  --luna-red2: #ffccc7;
  --luna-red3: #ffa39e;
  --luna-red4: #ff7875;
  --luna-red5: #ff4d4f;
  --luna-red6: #f5222d;
  --luna-red7: #cf1322;
  --luna-red8: #a8071a;
  --luna-red9: #820014;
  --luna-red10: #5c0011;
  --luna-orange1: #fff7e6;
  --luna-orange2: #ffe7ba;
  --luna-orange3: #ffd591;
  --luna-orange4: #ffc069;
  --luna-orange5: #ffa940;
  --luna-orange6: #fa8c16;
  --luna-orange7: #d46b08;
  --luna-orange8: #ad4e00;
  --luna-orange9: #873800;
  --luna-orange10: #612500;
  --luna-yellow1: #feffe6;
  --luna-yellow2: #ffffb8;
  --luna-yellow3: #fffb8f;
  --luna-yellow4: #fff566;
  --luna-yellow5: #ffec3d;
  --luna-yellow6: #fadb14;
  --luna-yellow7: #d4b106;
  --luna-yellow8: #ad8b00;
  --luna-yellow9: #876800;
  --luna-yellow10: #614700;
  --luna-volcano1: #fff2e8;
  --luna-volcano2: #ffd8bf;
  --luna-volcano3: #ffbb96;
  --luna-volcano4: #ff9c6e;
  --luna-volcano5: #ff7a45;
  --luna-volcano6: #fa541c;
  --luna-volcano7: #d4380d;
  --luna-volcano8: #ad2102;
  --luna-volcano9: #871400;
  --luna-volcano10: #610b00;
  --luna-geekblue1: #f0f5ff;
  --luna-geekblue2: #d6e4ff;
  --luna-geekblue3: #adc6ff;
  --luna-geekblue4: #85a5ff;
  --luna-geekblue5: #597ef7;
  --luna-geekblue6: #2f54eb;
  --luna-geekblue7: #1d39c4;
  --luna-geekblue8: #10239e;
  --luna-geekblue9: #061178;
  --luna-geekblue10: #030852;
  --luna-gold1: #fffbe6;
  --luna-gold2: #fff1b8;
  --luna-gold3: #ffe58f;
  --luna-gold4: #ffd666;
  --luna-gold5: #ffc53d;
  --luna-gold6: #faad14;
  --luna-gold7: #d48806;
  --luna-gold8: #ad6800;
  --luna-gold9: #874d00;
  --luna-gold10: #613400;
  --luna-lime1: #fcffe6;
  --luna-lime2: #f4ffb8;
  --luna-lime3: #eaff8f;
  --luna-lime4: #d3f261;
  --luna-lime5: #bae637;
  --luna-lime6: #a0d911;
  --luna-lime7: #7cb305;
  --luna-lime8: #5b8c00;
  --luna-lime9: #3f6600;
  --luna-lime10: #254000;
  --luna-color-text: rgba(0,0,0,0.88);
  --luna-color-text-secondary: rgba(0,0,0,0.65);
  --luna-color-text-tertiary: rgba(0,0,0,0.45);
  --luna-color-text-quaternary: rgba(0,0,0,0.25);
  --luna-color-fill: rgba(0,0,0,0.15);
  --luna-color-fill-secondary: rgba(0,0,0,0.06);
  --luna-color-fill-tertiary: rgba(0,0,0,0.04);
  --luna-color-fill-quaternary: rgba(0,0,0,0.02);
  --luna-color-bg-solid: rgb(0,0,0);
  --luna-color-bg-solid-hover: rgba(0,0,0,0.75);
  --luna-color-bg-solid-active: rgba(0,0,0,0.95);
  --luna-color-bg-layout: #f5f5f5;
  --luna-color-bg-container: #ffffff;
  --luna-color-bg-elevated: #ffffff;
  --luna-color-bg-spotlight: rgba(0,0,0,0.85);
  --luna-color-bg-blur: transparent;
  --luna-color-border: #d9d9d9;
  --luna-color-border-secondary: #f0f0f0;
  --luna-color-primary-bg: #e8f6ff;
  --luna-color-primary-bg-hover: #bfe3ff;
  --luna-color-primary-border: #96ceff;
  --luna-color-primary-border-hover: #6eb6ff;
  --luna-color-primary-hover: #4295f5;
  --luna-color-primary-active: #0c54c2;
  --luna-color-primary-text-hover: #4295f5;
  --luna-color-primary-text: #1a73e8;
  --luna-color-primary-text-active: #0c54c2;
  --luna-color-success-bg: #f6ffed;
  --luna-color-success-bg-hover: #d9f7be;
  --luna-color-success-border: #b7eb8f;
  --luna-color-success-border-hover: #95de64;
  --luna-color-success-hover: #95de64;
  --luna-color-success-active: #389e0d;
  --luna-color-success-text-hover: #73d13d;
  --luna-color-success-text: #52c41a;
  --luna-color-success-text-active: #389e0d;
  --luna-color-error-bg: #fff2f0;
  --luna-color-error-bg-hover: #fff1f0;
  --luna-color-error-bg-filled-hover: #ffdfdc;
  --luna-color-error-bg-active: #ffccc7;
  --luna-color-error-border: #ffccc7;
  --luna-color-error-border-hover: #ffa39e;
  --luna-color-error-hover: #ff7875;
  --luna-color-error-active: #d9363e;
  --luna-color-error-text-hover: #ff7875;
  --luna-color-error-text: #ff4d4f;
  --luna-color-error-text-active: #d9363e;
  --luna-color-warning-bg: #fffbe6;
  --luna-color-warning-bg-hover: #fff1b8;
  --luna-color-warning-border: #ffe58f;
  --luna-color-warning-border-hover: #ffd666;
  --luna-color-warning-hover: #ffd666;
  --luna-color-warning-active: #d48806;
  --luna-color-warning-text-hover: #ffc53d;
  --luna-color-warning-text: #faad14;
  --luna-color-warning-text-active: #d48806;
  --luna-color-info-bg: #e6f4ff;
  --luna-color-info-bg-hover: #bae0ff;
  --luna-color-info-border: #91caff;
  --luna-color-info-border-hover: #69b1ff;
  --luna-color-info-hover: #69b1ff;
  --luna-color-info-active: #0958d9;
  --luna-color-info-text-hover: #4096ff;
  --luna-color-info-text: #1677ff;
  --luna-color-info-text-active: #0958d9;
  --luna-color-link-hover: #69b1ff;
  --luna-color-link-active: #0958d9;
  --luna-color-bg-mask: rgba(0,0,0,0.45);
  --luna-color-white: #fff;
  --luna-font-size-sm: 12;
  --luna-font-size-lg: 16;
  --luna-font-size-xl: 20;
  --luna-line-height: 1.5714285714285714;
  --luna-line-height-lg: 1.5;
  --luna-line-height-sm: 1.6666666666666667;
  --luna-font-height: 22;
  --luna-font-height-lg: 24;
  --luna-font-height-sm: 20;
  --luna-size-xxl: 48;
  --luna-size-xl: 32;
  --luna-size-lg: 24;
  --luna-size-md: 20;
  --luna-size-ms: 16;
  --luna-size: 16;
  --luna-size-sm: 12;
  --luna-size-xs: 8;
  --luna-size-xxs: 4;
  --luna-control-height-sm: 24;
  --luna-control-height-xs: 16;
  --luna-control-height-lg: 40;
  --luna-motion-duration-fast: 0.1s;
  --luna-motion-duration-mid: 0.2s;
  --luna-motion-duration-slow: 0.3s;
  --luna-line-width-bold: 2;
  --luna-border-radius-xs: 2;
  --luna-border-radius-sm: 4;
  --luna-border-radius-lg: 8;
  --luna-border-radius-outer: 4;
  --luna-color-fill-content: rgba(0,0,0,0.06);
  --luna-color-fill-content-hover: rgba(0,0,0,0.15);
  --luna-color-fill-alter: rgba(0,0,0,0.02);
  --luna-color-bg-container-disabled: rgba(0,0,0,0.04);
  --luna-color-border-bg: #ffffff;
  --luna-color-split: rgba(5,5,5,0.06);
  --luna-color-text-placeholder: rgba(0,0,0,0.25);
  --luna-color-text-disabled: rgba(0,0,0,0.25);
  --luna-color-text-heading: rgba(0,0,0,0.88);
  --luna-color-text-label: rgba(0,0,0,0.65);
  --luna-color-text-description: rgba(0,0,0,0.45);
  --luna-color-text-light-solid: #fff;
  --luna-color-highlight: #ff4d4f;
  --luna-color-bg-text-hover: rgba(0,0,0,0.06);
  --luna-color-bg-text-active: rgba(0,0,0,0.15);
  --luna-color-icon: rgba(0,0,0,0.45);
  --luna-color-icon-hover: rgba(0,0,0,0.88);
  --luna-color-error-outline: rgba(255,38,5,0.06);
  --luna-color-warning-outline: rgba(255,215,5,0.1);
  --luna-font-size-icon: 12;
  --luna-line-width-focus: 3;
  --luna-control-outline-width: 2;
  --luna-control-interactive-size: 16;
  --luna-control-item-bg-hover: rgba(0,0,0,0.04);
  --luna-control-item-bg-active: #e8f6ff;
  --luna-control-item-bg-active-hover: #bfe3ff;
  --luna-control-item-bg-active-disabled: rgba(0,0,0,0.15);
  --luna-control-tmp-outline: rgba(0,0,0,0.02);
  --luna-control-outline: rgba(25,165,255,0.1);
  --luna-font-weight-strong: 600;
  --luna-opacity-loading: 0.65;
  --luna-link-decoration: none;
  --luna-link-hover-decoration: none;
  --luna-link-focus-decoration: none;
  --luna-control-padding-horizontal: 12;
  --luna-control-padding-horizontal-sm: 8;
  --luna-padding-xxs: 4;
  --luna-padding-xs: 8;
  --luna-padding-sm: 12;
  --luna-padding: 16;
  --luna-padding-md: 20;
  --luna-padding-lg: 24;
  --luna-padding-xl: 32;
  --luna-padding-content-horizontal-lg: 24;
  --luna-padding-content-vertical-lg: 16;
  --luna-padding-content-horizontal: 16;
  --luna-padding-content-vertical: 12;
  --luna-padding-content-horizontal-sm: 16;
  --luna-padding-content-vertical-sm: 8;
  --luna-margin-xxs: 4;
  --luna-margin-xs: 8;
  --luna-margin-sm: 12;
  --luna-margin: 16;
  --luna-margin-md: 20;
  --luna-margin-lg: 24;
  --luna-margin-xl: 32;
  --luna-margin-xxl: 48;
  --luna-box-shadow: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-secondary: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-tertiary: 
      0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.02),
      0 2px 4px 0 rgba(0, 0, 0, 0.02)
    ;
  --luna-screen-xs: 480;
  --luna-screen-xsmin: 480;
  --luna-screen-xsmax: 575;
  --luna-screen-sm: 576;
  --luna-screen-smmin: 576;
  --luna-screen-smmax: 767;
  --luna-screen-md: 768;
  --luna-screen-mdmin: 768;
  --luna-screen-mdmax: 991;
  --luna-screen-lg: 992;
  --luna-screen-lgmin: 992;
  --luna-screen-lgmax: 1199;
  --luna-screen-xl: 1200;
  --luna-screen-xlmin: 1200;
  --luna-screen-xlmax: 1599;
  --luna-screen-xxl: 1600;
  --luna-screen-xxlmin: 1600;
  --luna-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  --luna-box-shadow-card: 
      0 1px 2px -2px rgba(0,0,0,0.16),
      0 3px 6px 0 rgba(0,0,0,0.12),
      0 5px 12px 4px rgba(0,0,0,0.09)
    ;
  --luna-box-shadow-drawer-right: 
      -6px 0 16px 0 rgba(0, 0, 0, 0.08),
      -3px 0 6px -4px rgba(0, 0, 0, 0.12),
      -9px 0 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-drawer-left: 
      6px 0 16px 0 rgba(0, 0, 0, 0.08),
      3px 0 6px -4px rgba(0, 0, 0, 0.12),
      9px 0 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-drawer-up: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-drawer-down: 
      0 -6px 16px 0 rgba(0, 0, 0, 0.08),
      0 -3px 6px -4px rgba(0, 0, 0, 0.12),
      0 -9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --luna-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --luna-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
  --luna-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}

.theme-dark {
  color-scheme: dark;
  --luna-color-primary-dark: #1965c8;
  --luna-color-success-dark: #49aa19;
  --luna-color-warning-dark: #d89614;
  --luna-color-error-dark: #dc4446;
  --luna-color-info-dark: #1668dc;
  --luna-color-link-dark: #1668dc;
  --luna-color-text-base-dark: #fff;
  --luna-color-bg-base-dark: #000;
  --luna-blue1-dark: #111a2c;
  --luna-blue2-dark: #112545;
  --luna-blue3-dark: #15325b;
  --luna-blue4-dark: #15417e;
  --luna-blue5-dark: #1554ad;
  --luna-blue6-dark: #1668dc;
  --luna-blue7-dark: #3c89e8;
  --luna-blue8-dark: #65a9f3;
  --luna-blue9-dark: #8dc5f8;
  --luna-blue10-dark: #b7dcfa;
  --luna-purple1-dark: #1a1325;
  --luna-purple2-dark: #24163a;
  --luna-purple3-dark: #301c4d;
  --luna-purple4-dark: #3e2069;
  --luna-purple5-dark: #51258f;
  --luna-purple6-dark: #642ab5;
  --luna-purple7-dark: #854eca;
  --luna-purple8-dark: #ab7ae0;
  --luna-purple9-dark: #cda8f0;
  --luna-purple10-dark: #ebd7fa;
  --luna-cyan1-dark: #112123;
  --luna-cyan2-dark: #113536;
  --luna-cyan3-dark: #144848;
  --luna-cyan4-dark: #146262;
  --luna-cyan5-dark: #138585;
  --luna-cyan6-dark: #13a8a8;
  --luna-cyan7-dark: #33bcb7;
  --luna-cyan8-dark: #58d1c9;
  --luna-cyan9-dark: #84e2d8;
  --luna-cyan10-dark: #b2f1e8;
  --luna-green1-dark: #162312;
  --luna-green2-dark: #1d3712;
  --luna-green3-dark: #274916;
  --luna-green4-dark: #306317;
  --luna-green5-dark: #3c8618;
  --luna-green6-dark: #49aa19;
  --luna-green7-dark: #6abe39;
  --luna-green8-dark: #8fd460;
  --luna-green9-dark: #b2e58b;
  --luna-green10-dark: #d5f2bb;
  --luna-magenta1-dark: #291321;
  --luna-magenta2-dark: #40162f;
  --luna-magenta3-dark: #551c3b;
  --luna-magenta4-dark: #75204f;
  --luna-magenta5-dark: #a02669;
  --luna-magenta6-dark: #cb2b83;
  --luna-magenta7-dark: #e0529c;
  --luna-magenta8-dark: #f37fb7;
  --luna-magenta9-dark: #f8a8cc;
  --luna-magenta10-dark: #fad2e3;
  --luna-pink1-dark: #291321;
  --luna-pink2-dark: #40162f;
  --luna-pink3-dark: #551c3b;
  --luna-pink4-dark: #75204f;
  --luna-pink5-dark: #a02669;
  --luna-pink6-dark: #cb2b83;
  --luna-pink7-dark: #e0529c;
  --luna-pink8-dark: #f37fb7;
  --luna-pink9-dark: #f8a8cc;
  --luna-pink10-dark: #fad2e3;
  --luna-red1-dark: #2a1215;
  --luna-red2-dark: #431418;
  --luna-red3-dark: #58181c;
  --luna-red4-dark: #791a1f;
  --luna-red5-dark: #a61d24;
  --luna-red6-dark: #d32029;
  --luna-red7-dark: #e84749;
  --luna-red8-dark: #f37370;
  --luna-red9-dark: #f89f9a;
  --luna-red10-dark: #fac8c3;
  --luna-orange1-dark: #2b1d11;
  --luna-orange2-dark: #442a11;
  --luna-orange3-dark: #593815;
  --luna-orange4-dark: #7c4a15;
  --luna-orange5-dark: #aa6215;
  --luna-orange6-dark: #d87a16;
  --luna-orange7-dark: #e89a3c;
  --luna-orange8-dark: #f3b765;
  --luna-orange9-dark: #f8cf8d;
  --luna-orange10-dark: #fae3b7;
  --luna-yellow1-dark: #2b2611;
  --luna-yellow2-dark: #443b11;
  --luna-yellow3-dark: #595014;
  --luna-yellow4-dark: #7c6e14;
  --luna-yellow5-dark: #aa9514;
  --luna-yellow6-dark: #d8bd14;
  --luna-yellow7-dark: #e8d639;
  --luna-yellow8-dark: #f3ea62;
  --luna-yellow9-dark: #f8f48b;
  --luna-yellow10-dark: #fafab5;
  --luna-volcano1-dark: #2b1611;
  --luna-volcano2-dark: #441d12;
  --luna-volcano3-dark: #592716;
  --luna-volcano4-dark: #7c3118;
  --luna-volcano5-dark: #aa3e19;
  --luna-volcano6-dark: #d84a1b;
  --luna-volcano7-dark: #e87040;
  --luna-volcano8-dark: #f3956a;
  --luna-volcano9-dark: #f8b692;
  --luna-volcano10-dark: #fad4bc;
  --luna-geekblue1-dark: #131629;
  --luna-geekblue2-dark: #161d40;
  --luna-geekblue3-dark: #1c2755;
  --luna-geekblue4-dark: #203175;
  --luna-geekblue5-dark: #263ea0;
  --luna-geekblue6-dark: #2b4acb;
  --luna-geekblue7-dark: #5273e0;
  --luna-geekblue8-dark: #7f9ef3;
  --luna-geekblue9-dark: #a8c1f8;
  --luna-geekblue10-dark: #d2e0fa;
  --luna-gold1-dark: #2b2111;
  --luna-gold2-dark: #443111;
  --luna-gold3-dark: #594214;
  --luna-gold4-dark: #7c5914;
  --luna-gold5-dark: #aa7714;
  --luna-gold6-dark: #d89614;
  --luna-gold7-dark: #e8b339;
  --luna-gold8-dark: #f3cc62;
  --luna-gold9-dark: #f8df8b;
  --luna-gold10-dark: #faedb5;
  --luna-lime1-dark: #1f2611;
  --luna-lime2-dark: #2e3c10;
  --luna-lime3-dark: #3e4f13;
  --luna-lime4-dark: #536d13;
  --luna-lime5-dark: #6f9412;
  --luna-lime6-dark: #8bbb11;
  --luna-lime7-dark: #a9d134;
  --luna-lime8-dark: #c9e75d;
  --luna-lime9-dark: #e4f88b;
  --luna-lime10-dark: #f0fab5;
  --luna-color-text-dark: rgba(255,255,255,0.85);
  --luna-color-text-secondary-dark: rgba(255,255,255,0.65);
  --luna-color-text-tertiary-dark: rgba(255,255,255,0.45);
  --luna-color-text-quaternary-dark: rgba(255,255,255,0.25);
  --luna-color-fill-dark: rgba(255,255,255,0.18);
  --luna-color-fill-secondary-dark: rgba(255,255,255,0.12);
  --luna-color-fill-tertiary-dark: rgba(255,255,255,0.08);
  --luna-color-fill-quaternary-dark: rgba(255,255,255,0.04);
  --luna-color-bg-solid-dark: rgba(255,255,255,0.95);
  --luna-color-bg-solid-hover-dark: rgb(255,255,255);
  --luna-color-bg-solid-active-dark: rgba(255,255,255,0.9);
  --luna-color-bg-layout-dark: #000000;
  --luna-color-bg-container-dark: #141414;
  --luna-color-bg-elevated-dark: #1f1f1f;
  --luna-color-bg-spotlight-dark: #424242;
  --luna-color-bg-blur-dark: rgba(255,255,255,0.04);
  --luna-color-border-dark: #424242;
  --luna-color-border-secondary-dark: #303030;
  --luna-color-primary-bg-dark: #111a28;
  --luna-color-primary-bg-hover-dark: #122440;
  --luna-color-primary-border-dark: #163154;
  --luna-color-primary-border-hover-dark: #173f73;
  --luna-color-primary-hover-dark: #3d88df;
  --luna-color-primary-active-dark: #18529e;
  --luna-color-primary-text-hover-dark: #3d88df;
  --luna-color-primary-text-dark: #1965c8;
  --luna-color-primary-text-active-dark: #18529e;
  --luna-color-success-bg-dark: #162312;
  --luna-color-success-bg-hover-dark: #1d3712;
  --luna-color-success-border-dark: #274916;
  --luna-color-success-border-hover-dark: #306317;
  --luna-color-success-hover-dark: #306317;
  --luna-color-success-active-dark: #3c8618;
  --luna-color-success-text-hover-dark: #6abe39;
  --luna-color-success-text-dark: #49aa19;
  --luna-color-success-text-active-dark: #3c8618;
  --luna-color-error-bg-dark: #2c1618;
  --luna-color-error-bg-hover-dark: #451d1f;
  --luna-color-error-bg-filled-hover-dark: #441e1f;
  --luna-color-error-bg-active-dark: #5b2526;
  --luna-color-error-border-dark: #5b2526;
  --luna-color-error-border-hover-dark: #7e2e2f;
  --luna-color-error-hover-dark: #e86e6b;
  --luna-color-error-active-dark: #ad393a;
  --luna-color-error-text-hover-dark: #e86e6b;
  --luna-color-error-text-dark: #dc4446;
  --luna-color-error-text-active-dark: #ad393a;
  --luna-color-warning-bg-dark: #2b2111;
  --luna-color-warning-bg-hover-dark: #443111;
  --luna-color-warning-border-dark: #594214;
  --luna-color-warning-border-hover-dark: #7c5914;
  --luna-color-warning-hover-dark: #7c5914;
  --luna-color-warning-active-dark: #aa7714;
  --luna-color-warning-text-hover-dark: #e8b339;
  --luna-color-warning-text-dark: #d89614;
  --luna-color-warning-text-active-dark: #aa7714;
  --luna-color-info-bg-dark: #111a2c;
  --luna-color-info-bg-hover-dark: #112545;
  --luna-color-info-border-dark: #15325b;
  --luna-color-info-border-hover-dark: #15417e;
  --luna-color-info-hover-dark: #15417e;
  --luna-color-info-active-dark: #1554ad;
  --luna-color-info-text-hover-dark: #3c89e8;
  --luna-color-info-text-dark: #1668dc;
  --luna-color-info-text-active-dark: #1554ad;
  --luna-color-link-hover-dark: #15417e;
  --luna-color-link-active-dark: #1554ad;
  --luna-color-bg-mask-dark: rgba(0,0,0,0.45);
  --luna-color-white-dark: #fff;
  --luna-color-fill-content-dark: rgba(255,255,255,0.12);
  --luna-color-fill-content-hover-dark: rgba(255,255,255,0.18);
  --luna-color-fill-alter-dark: rgba(255,255,255,0.04);
  --luna-color-bg-container-disabled-dark: rgba(255,255,255,0.08);
  --luna-color-border-bg-dark: #141414;
  --luna-color-split-dark: rgba(253,253,253,0.12);
  --luna-color-text-placeholder-dark: rgba(255,255,255,0.25);
  --luna-color-text-disabled-dark: rgba(255,255,255,0.25);
  --luna-color-text-heading-dark: rgba(255,255,255,0.85);
  --luna-color-text-label-dark: rgba(255,255,255,0.65);
  --luna-color-text-description-dark: rgba(255,255,255,0.45);
  --luna-color-text-light-solid-dark: #fff;
  --luna-color-highlight-dark: #dc4446;
  --luna-color-bg-text-hover-dark: rgba(255,255,255,0.12);
  --luna-color-bg-text-active-dark: rgba(255,255,255,0.18);
  --luna-color-icon-dark: rgba(255,255,255,0.45);
  --luna-color-icon-hover-dark: rgba(255,255,255,0.85);
  --luna-color-error-outline-dark: rgba(238,38,56,0.11);
  --luna-color-warning-outline-dark: rgba(173,107,0,0.15);
  --luna-box-shadow-dark: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-secondary-dark: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-tertiary-dark: 
      0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.02),
      0 2px 4px 0 rgba(0, 0, 0, 0.02)
    ;
  --luna-box-shadow-popover-arrow-dark: 2px 2px 5px rgba(0, 0, 0, 0.05);
  --luna-box-shadow-card-dark: 
      0 1px 2px -2px rgba(0,0,0,0.16),
      0 3px 6px 0 rgba(0,0,0,0.12),
      0 5px 12px 4px rgba(0,0,0,0.09)
    ;
  --luna-box-shadow-drawer-right-dark: 
      -6px 0 16px 0 rgba(0, 0, 0, 0.08),
      -3px 0 6px -4px rgba(0, 0, 0, 0.12),
      -9px 0 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-drawer-left-dark: 
      6px 0 16px 0 rgba(0, 0, 0, 0.08),
      3px 0 6px -4px rgba(0, 0, 0, 0.12),
      9px 0 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-drawer-up-dark: 
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-drawer-down-dark: 
      0 -6px 16px 0 rgba(0, 0, 0, 0.08),
      0 -3px 6px -4px rgba(0, 0, 0, 0.12),
      0 -9px 28px 8px rgba(0, 0, 0, 0.05)
    ;
  --luna-box-shadow-tabs-overflow-left-dark: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --luna-box-shadow-tabs-overflow-right-dark: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --luna-box-shadow-tabs-overflow-top-dark: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
  --luna-box-shadow-tabs-overflow-bottom-dark: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}

.luna-theme-surface {
  background: var(--luna-color-bg-container, #fff);
  color: var(--luna-color-text, rgba(0, 0, 0, 0.88));
  border-color: var(--luna-color-border, #d9d9d9);
}
