.container span,
.container applet,
.container object,
.container iframe,
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
.container p,
.container blockquote,
.container pre,
.container a,
.container abbr,
.container acronym,
.container address,
.container big,
.container cite,
.container code,
.container del,
.container dfn,
.container em,
.container img,
.container ins,
.container kbd,
.container q,
.container s,
.container samp,
.container small,
.container strike,
.container strong,
.container sub,
.container sup,
.container tt,
.container var,
.container b,
.container u,
.container i,
.container center,
.container dl,
.container dt,
.container dd,
.container ol,
.container ul,
.container li,
.container fieldset,
.container form,
.container label,
.container legend,
.container table,
.container caption,
.container tbody,
.container tfoot,
.container thead,
.container tr,
.container th,
.container td,
.container article,
.container aside,
.container canvas,
.container details,
.container embed,
.container figure,
.container figcaption,
.container footer,
.container header,
.container hgroup,
.container menu,
.container nav,
.container output,
.container ruby,
.container section,
.container summary,
.container time,
.container mark,
.container audio,
.container video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.container article,
.container aside,
.container details,
.container figcaption,
.container figure,
.container footer,
.container header,
.container hgroup,
.container menu,
.container nav,
.container section {
  display: block;
}
.container body {
  line-height: 1;
}
.container ol,
.container ul {
  list-style: none;
}
.container blockquote,
.container q {
  quotes: none;
}
.container blockquote:before,
.container blockquote:after,
.container q:before,
.container q:after {
  content: "";
  content: none;
}
.container table {
  border-collapse: collapse;
  border-spacing: 0;
  color: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: inherit;
  white-space: inherit;
}