
#sources {
  font-size: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: var(--foreground);
  .code-wrapper,
  .raw-wrapper {
    overflow-x: auto;
  -webkit-overflow-scrolling: touch;
    width: 100%;
    min-height: 100%;
  }
  .raw,
  .code {
    height: 100%;
    .keyword {
      color: var(--keyword-color);
    }
    .comment {
      color: var(--comment-color);
    }
    .number {
      color: var(--number-color);
    }
    .string {
      color: var(--string-color);
    }
    .operator {
      color: var(--operator-color);
    }
    &[data-type='html'] {
      .keyword {
        color: var(--tag-name-color);
      }
    }
  }
  .image {
    font-size: var(--roderuda-font-size-s, 12px);
    .breadcrumb {
      background: var(--darker-background);
      color: var(--primary);
      user-select: text;
      margin-bottom: 10px;
      word-break: break-all;
      padding: var(--roderuda-padding, 10px);
      font-size: var(--roderuda-font-size-l, 16px);
      min-height: 40px;
      border-bottom: 1px solid var(--border);
    }
    .img-container {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    .img-info {
      text-align: center;
      margin: 20px 0;
      color: var(--foreground);
    }
  }
  .json {
    padding: 0 var(--roderuda-padding, 10px);
    * {
      user-select: text;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
