#console {
  padding-top: 40px;
  padding-bottom: 24px;
  width: 100%;
  height: 100%;
}
#console.js-input-hidden {
  padding-bottom: 0;
}
#console .control {
  padding: 10px 10px 10px 35px;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  cursor: default;
  font-size: 0;
  background: var(--darker-background);
  color: var(--primary);
  line-height: 20px;
  border-bottom: 1px solid var(--border);
}
#console .control [class^=roderuda-icon-],
#console .control [class*=" roderuda-icon-"] {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: color 0.3s;
}
#console .control [class^=roderuda-icon-]:active, #console .control [class^=roderuda-icon-].active,
#console .control [class*=" roderuda-icon-"]:active,
#console .control [class*=" roderuda-icon-"].active {
  color: var(--accent);
}
#console .control .icon-clear {
  padding-right: 0px;
  left: 0;
}
#console .control .icon-copy {
  right: 0;
}
#console .control .icon-filter {
  right: 23px;
}
#console .control .level {
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  display: inline-block;
  margin: 0 2px;
  padding: 0 4px;
  line-height: 20px;
  transition: background-color 0.3s, color 0.3s;
}
#console .control .level.active {
  background: var(--highlight);
  color: var(--select-foreground);
}
#console .control .filter-text {
  white-space: nowrap;
  position: absolute;
  line-height: 20px;
  max-width: 80px;
  overflow: hidden;
  right: 55px;
  font-size: 14px;
  text-overflow: ellipsis;
}
#console .js-input {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border);
  height: 24px;
}
#console .js-input .icon-right {
  line-height: 23px;
  color: var(--accent);
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 10;
}
#console .js-input.active {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: none;
}
#console .js-input.active .icon-right {
  display: none;
}
#console .js-input.active textarea {
  overflow: auto;
  padding-left: 10px;
}
#console .js-input .buttons {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: var(--primary);
  background: var(--darker-background);
  font-size: 12px;
  border-top: 1px solid var(--border);
}
#console .js-input .buttons .button {
  pointer-events: all;
  cursor: pointer;
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--border);
  height: 40px;
  line-height: 40px;
  transition: background-color 0.3s, color 0.3s;
}
#console .js-input .buttons .button:last-child {
  border-right: none;
}
#console .js-input .buttons .button:active {
  color: var(--select-foreground);
  background: var(--highlight);
}
#console .js-input textarea {
  overflow: hidden;
  pointer-events: all;
  padding: 3px 10px;
  padding-left: 25px;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
  height: 100%;
  user-select: text;
  resize: none;
  color: var(--primary);
  background: var(--background);
}

.safe-area #console {
  padding-bottom: calc(24px + env(safe-area-inset-bottom));
}
.safe-area #console.js-input-hidden {
  padding-bottom: 0;
}
.safe-area #console .js-input {
  height: calc(24px + env(safe-area-inset-bottom));
}
.safe-area #console .js-input.active {
  height: 100%;
  padding-bottom: calc(40px + env(safe-area-inset-bottom));
}
.safe-area #console .js-input .buttons {
  height: calc(40px + env(safe-area-inset-bottom));
}
.safe-area #console .js-input .buttons .button {
  height: calc(40px + env(safe-area-inset-bottom));
}